.btn-amarillo {
    display: block;
    background: #e08709;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    font-weight: 700;
    border: 0.15rem solid #f6a026;
}
.btn-amarillo:hover {
    cursor: pointer;
    background: #af6907;
    border: 0.15rem solid #f7ab3e;
}
.btn-verde {
    display: inline-block;
    background: #71b100;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    font-weight: 700;
    border: 0.15rem solid #92e400;
}
.btn-verde:hover {
    cursor: pointer;
    background: #507e00;
    border: 0.15rem solid #a2fe00;
}
.btn-contacto {
    display: inline-block;
    background: #e08709;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    font-weight: 700;
    border: 0.15rem solid #f6a026;
}
.btn-contacto:hover {
    cursor: pointer;
    background: #af6907;
    border: 0.15rem solid #f7ab3e;
}