/* Dark Mode */
.dark-mode{
    background: darken($color: $grisOscuro, $amount: 10);
    p{color: $blanco;}
    h1, h2, h3, h4, li, label{color: $gris;}
    .anuncios h2{
        color: $grisOscuro;
        border: 0.1rem solid, $grisOscuro;
    }
    .anuncio{background: $grisOscuro;}
    .precio{color: $verde;}
    .contenedor-anuncios{
        background: darken($color: $gris, $amount: 20);
    }

    .contenido-anuncio{
        background: darken($color: $grisOscuro, $amount: 5);
    }

    .iconos-detalles img{
        filter: invert(100%);
    }

    .scont-nosotros{
        background: darken($color: $grisOscuro, $amount: 1);
    }

    .campo input, .campo textarea, .campo select{
        background: darken($color: $gris, $amount: 5);
        color: lighten($color: $negro, $amount: 25);
    }

}