/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

/* Display
 */
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

/* Botones */
@mixin boton($color, $display){
    display: $display;
    background: $color;
    color: $blanco;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    font-weight: $bold;
    border: 0.15rem solid lighten($color: $color, $amount: 10);

    &:hover{cursor: pointer;}

    &:hover{
        background: darken($color: $color, $amount: 10);
        border: 0.15rem solid lighten($color: $color, $amount: 15);
    }
}