.categorias{
    padding: 1rem;
    margin: 2rem auto;
}

.categoria-group{
    margin: 1rem auto;
    background: $color-white;
    a{
        color: $color-white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background: $main-color;
        &:hover{
            color: $color-white;
            background: lighten($color: $main-color, $amount: 10)
        }
    }
}

.header-categoria{
    margin-top: 1rem;
    padding: 0.5rem 0;
    border-top: 0.1rem solid $main-color;
    border-bottom: 0.1rem solid $main-color;
}

.categoria-items{
    padding: 1rem 0.1rem;
    img{
        background: $color-white;
        width: 100%;
    }

    .card{
        background: $second-color;
        padding: 0;
        width: 45%;
        @include telefono{
            width: 23%;
        }
    }

    .card-body{
        padding: 0 1rem;
        a{
            margin: 1rem auto;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0.5rem;
            background: $color-white;
            color: $main-color;
            transition: ease-in-out all 0.3s;

            &:hover{
                background: $main-color;
                color: $color-white;
            }
        }
    }
}