/* Contacto */
.contacto{
    margin: 2rem auto 1rem auto;

    h1{
        font-weight: $black;
        margin: 0 auto;
    }
    h3{font-weight: $bold;}
    h4{
        text-align: center;
        margin: 1rem auto 0.5rem auto;
    }
    .img{
        @include tablet{
            margin: 0 auto;
            max-width: 70%;
        }
    }
    .img2{
        @include tablet{
            margin: 0 auto;
            max-width: 50%;
        }
    }
    p{
        font-size: 2rem;
        text-align: center;
        i{
            color: rgb(44, 207, 44);
        }
        a{
            font-weight: $bold;
            text-decoration: none;
            color: $negro;
        }
    }
    ul{
        width: 100%;
        margin: 0 auto;
    }
    .telegram i{
        color: rgb(12, 97, 177);
        font-size: 3rem;
    }
    .facebook i{
        color: rgb(14, 49, 204);
        font-size: 3rem;
    }
}

.medios{
    @include tablet{
        @include grid(2, 2rem);
    }
}